.item-table{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}
.list-table-format.title{
    background-color: #f9f9f9;
}
.item-table img{
    width: 50px;
}
@media(max-width:60px){

    .item-table{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;
    }
    .item-table.title{
        display: none;
    }
}

.quantity-input {
    width: 50px;
    padding: 4px;
    text-align: center;
    border: 1px solid #cacaca;
    border-radius: 4px;
  }

/* .img {
    width: 50%; 
    height: auto;    
    object-fit: cover;
  } 
  */